chainlit>=1.0.0
python-dotenv
semanticscholar
langgraph
langchain-core
langchain
langchain-google-genai
langchain-tavily
langchain-community
wikipedia
langchain_experimental
plotly
matplotlib
numpy
scipy
statsmodels
pandas
scikit-learn
pydantic
langchain-openai
crawl4ai
openpyxl
pyreadstat
pyreadr
aiosqlite
